<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "루비온레일즈 학습 블로그" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <%# Enable PWA manifest for installable apps (make sure to enable in config/routes.rb too!) %>
    <%#= tag.link rel: "manifest", href: pwa_manifest_path(format: :json) %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%# Includes all stylesheet files in app/assets/stylesheets %>
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <!-- 네이버 스타일 헤더 -->
    <header class="header">
      <div class="header-content">
        <%= link_to "루비온레일즈 블로그", root_path, class: "logo" %>
        <nav>
          <ul class="nav-menu">
            <li><%= link_to "홈", root_path %></li>
            <li><%= link_to "포스트 목록", posts_path %></li>
            <li><%= link_to "새 포스트", new_post_path %></li>
          </ul>
        </nav>
      </div>
    </header>

    <main class="main-container">
      <%= yield %>
    </main>
  </body>
</html>
